
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo campamento</title>
</head>

<body>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Nombre</label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Ubicación</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Agregar campamento</button>
    </form>
    <a href="/campgrounds">todos los campamentos</a>

</body>

</html>